i {
  padding-right: 10px;
}

img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding-right: 100px;
}

body {
  background-color: #231f20;
  color: #FAF9F6;
}

h1 {
  font: bold;
  font-size: 100px;
  font-variant: small-caps;
  font-family: 'Teko', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  color: #FAF9F6;
  padding-top: 20px;
  text-shadow: 1px 1px 5px #27aae1;
}

p {
  font: bold;
  font-size: 15px;
  font-variant: normal;
  font-family: 'Teko', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  color: #FAF9F6;
  padding-top: 2px;
  padding-bottom: 2px;
  text-shadow: 1px 1px 5px #27aae1;
}

.row {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 10px;
  align-items: center;
}

.navbar-nav {
  align-items: center;
  font-size: 40px;
  font-family: 'Teko', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 2px #27a9e140;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

#navbarNavAltMarkup {

}

#navbarContent {
  background-color: #231f20;
}

#text-aboutMe {
  text-align: left;
  font-size: 20px;
  font-weight: 100;
}

#text-testimonial {
  font: bold;
  font-size: 15px;
  font-variant: normal;
  font-family: 'Teko', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  color: #FAF9F6;
  padding-top: 0px;
  text-shadow: 1px 1px 5px #27aae1;
}

#text-carouselUpper {
  font: bold;
  font-size: 45px;
  font-variant: normal;
  font-family: 'Teko', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: #FAF9F6;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: 1px 1px 4px #231f20;
}

#text-carouselLower {
  font: bold;
  font-size: 30px;
  font-variant: normal;
  font-family: 'Teko', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  color: #FAF9F6;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: 1px 1px 2px #231f20;
}

#img-override-navlogos {
  font-family: inherit;
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding-right: 5px;
}

#img-override-glpimage {
  width: 150px;
  height: 150px;
  object-fit: contain;
  padding-left: 10px;
  padding-right: 20px;
}

#img-override-carouselA, #img-override-carouselB, #img-override-carouselC {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover;
  padding: 0px;
  opacity: 0.3;
}

#img-override-carouselA {
  background-position: 100%;

}

#img-override-carouselB {
  object-position: 0px -250px;
}

#img-override-carouselC {
  object-position: 0px -600px;
}

#img-override-weston {
  object-fit: fill;
  height: inherit;
  width: inherit;
  padding-right: 0px;
}

#img-override-testimonial {
  object-fit: contain;
  align-items: center;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  block-size: 200px;
}

#container-override-testimonial {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}