body {
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 20px;
}

.navbar-nav > li {
  padding-left:10px;
  padding-right:10px;
}

.dropdown-item > img {
  padding-left: 0px;
  padding-right: 7px;
}